# Python
__pycache__/
*.py[cod]
*.pyo
.env
venv/
.venv/
venv
venv/Include
venv/Scripts
venv/Lib
venv/share
venv/pyvenv.cgf

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Generated figures (large files)
fig*.png

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

